body {

  background-image: linear-gradient(37deg, #25252b 0%, #47507e 51%, #03011a 75%);
  background-size: 120% 200%;
  background-image: linear-gradient(37deg, #25252b 0%, #47507e 51%, #03011a 75%);
  background-color: #25252b;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


#root {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(37deg, #25252b 0%, #47507e 51%, #03011a 75%);
  color: #eeedea;
  margin: 0;
}
h1 {
  color: #dddddd;
  font-size: 2.5rem;
  text-align: center;
  margin: 0;
  padding: 2rem;
}
p {
  color: #0b082e;
}
.logo-container {
  display: none;
}
.big-logo {
  display: block;
  width: 100%;
  max-height: 100%;
  max-width: 50%;
}

.big-logo img {

  height: 100%;
}
.calendar-container {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
  margin-bottom: 0;
}

.app-card {
  display: flex;
  align-content: center;
}
.picture-date {
  font-weight: bold;
  font-size: 1.4rem;
}
.picture-card {
  display: flex;
  justify-content: center;
}
.picture-container {
 
  margin: 2rem;
  
  background: rgba(194, 195, 211, 0.8);
  border-radius: 3px;
  box-shadow: 6px 6px 9px 8px rgba(255, 255, 255, 0.05), 0 11px 21px rgba(255, 147, 251, 0.08);
}
.picture-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;

}
h2 {
  color: #c2c3d3;
  font-size: 1.6rem;
  background: rgba(56, 54, 82);
  margin: 0;
  padding: 20px;
}
.expand-button {
  cursor: pointer;
  background: rgb(56,54,82);
  color: #c2c2d3;
  font-size: 1.6rem;
  width: 40px;
  height: 40px;
  border: 3px solid #c2c2d3;
  border-radius: 50%;

  margin-left: 3rem;
  margin-top: 1rem;
  box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.15);
}
.expand-btn-up {
  transform: rotate(-90deg);
  transition: 0.3s;
}

.expand-btn-down {
  transform: rotate(0);
  transition: 0.3s;

}
.logo img{
  padding-left: 2rem;
  height: 200px;

}
.picture-img {
  display: flex;
  justify-content: center;
}

.picture {
  display: grid;
  max-width: 90vw;
  max-height: 95vh;
  box-shadow: 6px 10px 10px 12px rgba(0, 0, 0, 0.1), 0 7px 12px rgba(0, 0, 0, 0.2);

}

.explanation-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #060e16;
}
.explanation-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.copyright {
  padding-right: 1rem;
}

.explanation-close {
  text-align: left;
  transition: .3s;
  margin: 2rem;
  transform:scaleY(0) translateY(-100px);
  max-height: 0;
}
.explanation-open {
  text-align: left;
  height: auto;
  transform:scaleY(1) translateY(0px);

  max-height: 500px;
  transition: .3s;
  padding-left: 2rem;
  padding-right: 2rem;
}
.video-container { 
  position: relative; 
  padding-bottom: 56.25%; 
  height: 0; overflow: 
  hidden; max-width: 100%; 
} 
.video-container iframe, .embed-container object, .embed-container embed { 
  position: absolute; 
  top: 0; 
  left: 5%; 
  width: 90%; 
  height: 100%; 
}
.content-container {
  display: flex;
  flex-direction: column;
}
@media (max-width: 1000px){
  .big-logo img {

    width: 100%;
  }
}
@media (max-width: 730px) {
  .explanation-open {
    max-height: 1000px;
  }
  .big-logo {
    display: none;
  }
  .logo-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.15);
  }

  .picture-container{
    margin: 0;
    width: 100vw;
  }

  .calendar-container {
    margin: 0.5rem;
  }

  .picture {
    max-width: 95vw;
    max-height: 100vh;
  }
  .logo-container {
    justify-content: space-around;
  }
  .logo-container h1{
    font-size: 2rem;
  }
  .content-container {
    flex-direction: column-reverse;
  }
}

.blinking{
  animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText{
  0%{     color: #fff;    }
  49%{    color: #fff; }
  60%{    color: transparent; }
  99%{    color:transparent;  }
  100%{   color: #fff;    }
}